include includes/header.pug

header.bg-secondary.p-2
  nav.navbar.navbar-expand-lg.navbar-dark
    .navbar-brand
      | BlizzardFan&apos;s
    .container
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='#') Accueil
        li.nav-item
          a.nav-link(href='/profil') Profil
        li.nav-item
          a.nav-link(href='/messages') Messages
      form.form-inline.my-2.my-md-0(action='' method='GET' id="searchBar")
        input.form-control.mr-sm-2(type='search' name='searchUser' placeholder='Chercher' aria-label='Search' id="searchUser")
        button.btn.bg-light.my-2.my-sm-0(type='submit') Chercher
      #resultatSearch
      button.btn.btn-danger.btn-sm.ml-4
        a.text-white(href="/logout") D&eacute;connexion
.container-fluid
  .row.justify-content-around
    nav.col-lg-2
      .card.mt-4.p-0
        .card-header.text-center
          h4 Menu
        .card-body
          div
            a.btn.btn-block.btn-secondary.text-light(href='/profil' role='button') Profil
          div
            a.btn.mt-1.btn-block.btn-secondary.text-light(href='/messages' role='button') Messages
    section.col-lg-8
      .card.mt-4.p-0
        .card-header.text-center
          h3 Mur d&apos;actualit&eacute;s
        .card-body
          form(action='' method='POST')
            .form-group
              label(for='nouvelleActu') Nouvelle Actualit&eacute;
              input.form-control(type='text' name='nouvelleActu' placeholder='Que voulez vous partager')
      .card.mt-1.p-0
        .card-body
          
          
include includes/footer.pug