include includes/header.pug

header.bg-secondary.p-2
  nav.navbar.navbar-expand-lg.navbar-dark
    .navbar-brand
      | BlizzardFan&apos;s
    .container
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='#') Accueil
        li.nav-item
          a.nav-link(href='/profil') Profil
        li.nav-item
          a.nav-link(href='/messages') Messages
      form.form-inline.my-2.my-md-0(action='' method='GET')
        input.form-control.mr-sm-2(type='search' name='' placeholder='Chercher' aria-label='Search')
        button.btn.bg-light.my-2.my-sm-0(type='submit') Chercher
      button.btn.btn-danger.btn-sm.ml-4
        | D&eacute;connexion
.container-fluid
  .row.justify-content-around
    nav.col-lg-2
      .card.mt-4.p-0
        .card-header.text-center
          h4 Menu
        .card-body
          div
            a.btn.btn-block.btn-secondary.text-light(href='/profil' role='button') Profil
          div
            a.btn.mt-1.btn-block.btn-secondary.text-light(href='/messages' role='button') Messages
    section.col-lg-8
      .card.mt-4.p-0
        .card-header.text-center
          h3 Mur d&apos;actualit&eacute;s
        .card-body
          form(action='' method='POST')
            .form-group
              label(for='nouvelleActu') Nouvelle Actualit&eacute;
              input.form-control(type='text' name='nouvelleActu' placeholder='Que voulez vous partager')
      .card.mt-1.p-0
        .card-body
          | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci animi praesentium ea hic ex obcaecati vel, ipsa ducimus iure doloremque sed quibusdam quae, quos atque ipsum, consectetur autem perferendis alias?
          | Tempore libero maiores sapiente nulla sint et architecto? Architecto fuga vel quod accusantium quis aperiam excepturi, minima nam aspernatur veritatis, ipsam est, deleniti labore iure adipisci. Atque distinctio ratione quidem!
          | Earum consequatur vero harum veritatis ipsum similique molestiae, fugiat, recusandae molestias neque laborum blanditiis illo ducimus saepe id quis vitae incidunt dolor modi accusantium eligendi rerum nemo error! Vitae, quaerat!
          | Voluptatum, minus incidunt cumque, ipsum maxime perferendis commodi nobis reprehenderit voluptatem tempore quam est eligendi porro iure. Aliquam cupiditate perspiciatis odit dolorem expedita molestias eveniet nobis quas, accusamus dolor adipisci.
          | Nam enim molestiae, tenetur commodi, eum sequi ducimus nulla et maxime praesentium autem porro! Laboriosam molestiae necessitatibus totam sint veritatis quae modi assumenda vitae blanditiis, sed repudiandae eveniet ut quos!
          | Molestias illo quae architecto commodi suscipit, incidunt earum eos libero soluta odit deserunt quod aspernatur, doloribus, voluptatibus nam facere ut quasi dolores numquam porro consequatur. Veritatis quod vel deserunt distinctio?
          | Saepe veniam impedit aliquam eligendi ipsam vero blanditiis, similique aspernatur adipisci beatae error dolore neque dicta ad libero. Vero unde neque illo et voluptatem dignissimos magni libero voluptatum sed. Error?
          | Dolores doloremque sequi doloribus magni suscipit eaque asperiores excepturi corporis ab ratione repellendus nostrum atque ullam, ducimus praesentium officia consequatur illum obcaecati repellat molestias odit, eligendi illo qui. Accusantium, iste?
          | Ipsam laboriosam architecto blanditiis vitae inventore sapiente, officia quaerat dicta assumenda quibusdam repellendus rerum, ut iusto at quo atque. Officia autem commodi quia? Voluptate esse eos repellat, molestias dicta quam?
          | Blanditiis odio ipsa explicabo quidem cum reprehenderit sapiente aliquid expedita quas nostrum at ratione dolor, velit minima, aperiam possimus. Obcaecati, nulla. Explicabo error eos deserunt? Harum enim similique modi. Adipisci.
