<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
    - for (var i = 0; i < test.friends.waiting.length; ++i) {
        ul= "waiting"
        test.friends.waiting[i] == uuid
            li= test.friends.waiting[i]._id
            li= test.friends.waiting[i].pseudo
    - }